<app-navbar></app-navbar>

<section class="imgFondo">

</section>

<div *ngIf="usuario?.rol === 'comprador' || !isLoggedIn" class="flex content-center justify-center flex-col py-5">
    <h2 class="titleProductos text-center bebas-neue-regular">nuevas publicaciones</h2>
    <h3 class="subtitleProductos text-center">Acá podrás ver las nuevas publicaciones de nuestros campesinos.</h3>
    <div class="grid grid-cols-1 md:grid-cols-4 gap-6 mx-auto">
        <div *ngFor="let producto of productos"
            class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <a [routerLink]="['/producto', producto._id]">
                <img [src]="getFotoUrl(producto.fotos[0])" alt="{{ producto.titulo }}"
                    class="product-image img-responsive" />
            </a>
            <div class="px-5 pb-5">
                <a [routerLink]="['/producto', producto._id]">
                    <h5 class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white">{{ producto.titulo }}
                    </h5>
                </a>
                <p class="text-gray-600 dark:text-gray-300">Publicado por: {{ producto.usuarioId.nombres }} {{
                    producto.usuarioId.apellidos }}</p>
                <p class="text-gray-600 dark:text-gray-300">Ciudad: {{ producto.ciudad }}</p>
                <div class="flex items-center mt-2.5 mb-5">
                    <!-- Rating y precio -->
                    <span class="text-3xl font-bold text-gray-900 dark:text-white">
                        {{ transform(producto.precio) }}
                    </span>

                </div>
                <button type="button" (click)="addToCart(producto)"
                    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    Agregar al Carrito
                </button>
            </div>
        </div>
    </div>
</div>

<section *ngIf="usuario?.rol === 'vendedor'" class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16">
        <div
            class="bg-gray-50 dark:bg-gray-800 border border-gray-200 dark:border-gray-700 rounded-lg p-8 md:p-12 mb-8">
            <a href="#"
                class="bg-green-100 text-green-800 text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded-md dark:bg-gray-700 dark:text-green-400 mb-2">
                <svg class="w-2.5 h-2.5 me-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor" viewBox="0 0 20 14">
                    <path
                        d="M11 0H2a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h9a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2Zm8.585 1.189a.994.994 0 0 0-.9-.138l-2.965.983a1 1 0 0 0-.685.949v8a1 1 0 0 0 .675.946l2.965 1.02a1.013 1.013 0 0 0 1.032-.242A1 1 0 0 0 20 12V2a1 1 0 0 0-.415-.811Z" />
                </svg>
                Guía
            </a>
            <h1 class="text-gray-900 dark:text-white text-3xl md:text-5xl font-extrabold mb-2">Cómo mejorar la
                productividad en el campo</h1>
            <p class="text-lg font-normal text-gray-500 dark:text-gray-400 mb-6">Descubre prácticas agrícolas que pueden
                aumentar la productividad y mejorar la calidad de los productos. Aprende sobre nuevas técnicas de
                cultivo, uso eficiente de agua y sistemas de riego inteligentes.</p>
            <a routerLink="/productividad-campo"
                class="inline-flex justify-center items-center py-2.5 px-5 text-base font-medium text-center text-white rounded-lg bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 dark:focus:ring-green-900">
                Leer más
                <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M1 5h12m0 0L9 1m4 4L9 9" />
                </svg>
            </a>
        </div>
        <div class="grid md:grid-cols-2 gap-8">
            <div class="bg-gray-50 dark:bg-gray-800 border border-gray-200 dark:border-gray-700 rounded-lg p-8 md:p-12">
                <a routerLink="/sistemas-riego-inteligente"
                    class="bg-blue-100 text-blue-800 text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded-md dark:bg-gray-700 dark:text-blue-400 mb-2">
                    <svg class="w-2.5 h-2.5 me-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                        fill="currentColor" viewBox="0 0 18 18">
                        <path
                            d="M17 11h-2.722L8 17.278a5.512 5.512 0 0 1-.9.722H17a1 1 0 0 0 1-1v-5a1 1 0 0 0-1-1ZM6 0H1a1 1 0 0 0-1 1v13.5a3.5 3.5 0 1 0 7 0V1a1 1 0 0 0-1-1ZM3.5 15.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2ZM16.132 4.9 12.6 1.368a1 1 0 0 0-1.414 0L9 3.55v9.9l7.132-7.132a1 1 0 0 0 0-1.418Z" />
                    </svg>
                    Innovación
                </a>
                <h2 class="text-gray-900 dark:text-white text-3xl font-extrabold mb-2">Sistemas de riego inteligente
                </h2>
                <p class="text-lg font-normal text-gray-500 dark:text-gray-400 mb-4">Implementa tecnología avanzada para
                    optimizar el uso del agua en tus cultivos. Los sistemas de riego inteligente pueden ayudar a ahorrar
                    agua y mejorar la producción en el campo.</p>
                <a routerLink="/sistemas-riego-inteligente"
                    class="text-blue-600 dark:text-blue-500 hover:underline font-medium text-lg inline-flex items-center">Leer
                    más
                    <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                        fill="none" viewBox="0 0 14 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M1 5h12m0 0L9 1m4 4L9 9" />
                    </svg>
                </a>
            </div>
            <div class="bg-gray-50 dark:bg-gray-800 border border-gray-200 dark:border-gray-700 rounded-lg p-8 md:p-12">
                <a routerLink="/tendencias-agricultura-sostenible"
                    class="bg-orange-100 text-orange-800 text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded-md dark:bg-gray-700 dark:text-orange-400 mb-2">
                    <svg class="w-2.5 h-2.5 me-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                        fill="currentColor" viewBox="0 0 20 16">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M5 4 1 8l4 4m10-8 4 4-4 4M11 1 9 15" />
                    </svg>
                    Tendencias
                </a>
                <h2 class="text-gray-900 dark:text-white text-3xl font-extrabold mb-2">Nuevas tendencias en agricultura
                    sostenible</h2>
                <p class="text-lg font-normal text-gray-500 dark:text-gray-400 mb-4">Conoce las tendencias más recientes
                    en agricultura sostenible. Desde el uso de energías renovables hasta técnicas de cultivo que ayudan
                    a proteger el medio ambiente.</p>
                <a routerLink="/tendencias-agricultura-sostenible"
                    class="text-blue-600 dark:text-blue-500 hover:underline font-medium text-lg inline-flex items-center">Leer
                    más
                    <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                        fill="none" viewBox="0 0 14 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M1 5h12m0 0L9 1m4 4L9 9" />
                    </svg>
                </a>
            </div>
        </div>
    </div>
</section>



<div class="flex justify-center py-32 px-60">
    <div class="grid grid-cols-2 md:grid-cols-4 gap-4 w-full">
        <div class="grid gap-4">
            <div>
                <img class="h-auto max-w-full rounded-lg" src="/assets/img/1.png" alt="">
            </div>
            <div>
                <img class="h-auto max-w-full rounded-lg" src="/assets/img/2.png" alt="">
            </div>
            <div>
                <img class="h-auto max-w-full rounded-lg" src="/assets/img/3.png" alt="">
            </div>
        </div>
        <div class="grid gap-4">
            <div>
                <img class="h-auto max-w-full rounded-lg" src="/assets/img/4.png" alt="">
            </div>
            <div>
                <img class="h-auto max-w-full rounded-lg" src="/assets/img/5.png" alt="">
            </div>
            <div>
                <img class="h-auto max-w-full rounded-lg" src="/assets/img/6.png" alt="">
            </div>
        </div>
        <div class="grid gap-4">
            <div>
                <img class="h-auto max-w-full rounded-lg" src="/assets/img/7.png" alt="">
            </div>
            <div>
                <img class="h-auto max-w-full rounded-lg" src="/assets/img/8.png" alt="">
            </div>
            <div>
                <img class="h-auto max-w-full rounded-lg" src="/assets/img/9.png" alt="">
            </div>
        </div>
        <div class="grid gap-4">
            <div>
                <img class="h-auto max-w-full rounded-lg" src="/assets/img/10.png" alt="">
            </div>
            <div>
                <img class="h-auto max-w-full rounded-lg" src="/assets/img/11.png" alt="">
            </div>
            <div>
                <img class="h-auto max-w-full rounded-lg" src="/assets/img/12.png" alt="">
            </div>
        </div>
    </div>
</div>

<section
    class="bg-center bg-no-repeat bg-[url('https://bloglatam.jacto.com/wp-content/uploads/2023/04/jacto_jactomexico_image_646-scaled.jpeg')] bg-gray-700 bg-blend-multiply">
    <div class="px-4 mx-auto max-w-screen-xl text-center py-24 lg:py-56">
        <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-white md:text-5xl lg:text-6xl">
            Invertimos en el potencial del campo</h1>
        <p class="mb-8 text-lg font-normal text-gray-300 lg:text-xl sm:px-16 lg:px-48">En Arriba el Campo, nos enfocamos
            en conectar directamente a los productores rurales con los consumidores, eliminando intermediarios. A través
            de la tecnología y la innovación, buscamos generar un impacto económico positivo y asegurar precios justos
            para los agricultores.</p>
        <div *ngIf="usuario?.rol === 'comprador' || !isLoggedIn"
            class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0">
            <a href="#"
                class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900">
                Empieza ahora
                <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M1 5h12m0 0L9 1m4 4L9 9" />
                </svg>
            </a>
        </div>
    </div>
</section>


<app-footer></app-footer>

<div *ngIf="mostrarNotificacion" class="notificacion">
    {{ mensajeNotificacion }}
</div>