<app-navbar></app-navbar>

<form class="max-w-7xl mx-auto p-6 bg-white shadow-md rounded-lg space-y-6 mt-36" (ngSubmit)="onSubmit()">
    <h2 class="text-xl font-semibold text-gray-700">Publicar Producto </h2>
    <div  *ngIf="usuario.estado === 'Para Verificar'" class="verificar">
        <span>"No puedes publicar ningún producto hasta
            que tu
            negocio sea 'Aprobado' por el gestor de validaciones. Este proceso incluye la revisión de tus documentos y
            una
            visita a tu finca para verificar la autenticidad de la información proporcionada."</span>
    </div>

    <div>
        <label for="productType" class="block text-sm font-medium text-gray-700">Tipo de Producto</label>
        <select id="productType" [(ngModel)]="productType" name="productType"
            [disabled]="usuario.estado === 'Para Verificar'"
            class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500">
            <option value="">Selecciona un tipo de producto</option>
            <option value="Frutas">Frutas</option>
            <option value="Verduras">Verduras</option>
            <option value="Tubérculos y Raíces">Tubérculos y Raíces</option>
            <option value="Granos y Cereales">Granos y Cereales</option>
            <option value="Legumbres">Legumbres</option>
            <option value="Hierbas y Especias">Hierbas y Especias</option>
            <option value="Frutas de Temporada">Frutas de Temporada</option>
            <option value="Hortalizas">Hortalizas</option>
            <option value="Plátano y Banano">Plátano y Banano</option>
            <option value="Frutos Exóticos">Frutos Exóticos</option>
        </select>
    </div>


    <div>
        <label class="block text-sm font-medium text-gray-700">Título del Producto</label>
        <input type="text" name="productTitle" [disabled]="usuario.estado === 'Para Verificar'"
            class="mt-1 border-gray-300 rounded-md shadow-sm w-full p-2 focus:ring-indigo-500 focus:border-indigo-500"
            [(ngModel)]="productTitle">
    </div>

    <div>
        <label class="block text-sm font-medium text-gray-700">Descripción del Producto</label>
        <textarea rows="4" placeholder="Escribe una descripción detallada del producto" name="productDescription"
            [disabled]="usuario.estado === 'Para Verificar'"
            class="mt-1 border-gray-300 rounded-md shadow-sm w-full p-2 focus:ring-indigo-500 focus:border-indigo-500"
            [(ngModel)]="productDescription"></textarea>
    </div>

    <div>
        <label class="block text-sm font-medium text-gray-700">Precio por Kilogramo</label>
        <input type="text" placeholder="Ej. 1.200.000" name="productPrice"
            [disabled]="usuario.estado === 'Para Verificar'"
            class="mt-1 borderE-gray-300 rounded-md shadow-sm w-full p-2 focus:ring-indigo-500 focus:border-indigo-500"
            [(ngModel)]="productPrice" (input)="onCurrencyInput($event)">
    </div>

    <div class="w-full max-w">
        <label for="ciudad" class="block text-sm font-medium text-gray-700">Selecciona tu ciudad:</label>
        <select [(ngModel)]="ciudadSeleccionada" name="ciudad" [disabled]="usuario.estado === 'Para Verificar'"
            class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500">
            <option value="">Selecciona una ciudad</option>
            <option selected value="Supatá">Supatá</option>
        </select>
    </div>

    <div>
        <label class="block text-sm font-medium text-gray-700">Cantidad Disponible (kg)</label>
        <div class="relative flex items-center max-w-[8rem]">
            <button type="button" (click)="decrementCantidad()" [disabled]="usuario.estado === 'Para Verificar'"
                class="bg-gray-100 border border-gray-300 rounded-l-lg p-3 h-11 focus:outline-none">
                <svg class="w-3 h-3 text-gray-900" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 18 2">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M1 1h16" />
                </svg>
            </button>
            <input type="number" name="cantidadDisponible" min="0.1" step="0.1"
                [disabled]="usuario.estado === 'Para Verificar'"
                class="mt-1 border-gray-300 rounded-md shadow-sm w-full p-2 focus:ring-indigo-500 focus:border-indigo-500"
                [(ngModel)]="cantidadDisponible">
            <button type="button" (click)="incrementCantidad()" [disabled]="usuario.estado === 'Para Verificar'"
                class="bg-gray-100 border border-gray-300 rounded-r-lg p-3 h-11 focus:outline-none">
                <svg class="w-3 h-3 text-gray-900" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 18 18">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M9 1v16M1 9h16" />
                </svg>
            </button>
        </div>
    </div>

    <!-- Estado del Producto -->
    <div>
        <label for="estado-producto" class="block text-sm font-medium text-gray-700">Estado del Producto</label>
        <select id="estado-producto" [(ngModel)]="estadoProducto" name="estadoProducto"
            [disabled]="usuario.estado === 'Para Verificar'"
            class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500">
            <option value="disponible">Disponible</option>
            <option value="agotado">Agotado</option>
            <option value="proximamente">Próximamente</option>
        </select>
    </div>

    <div>
        <label class="block text-sm font-medium text-gray-700">Fotos del Producto</label>
        <input type="file" accept="image/*" multiple (change)="onFileSelected($event)"
            [disabled]="usuario.estado === 'Para Verificar'"
            class="mt-1 w-full border-gray-300 rounded-md shadow-sm p-2 focus:ring-indigo-500 focus:border-indigo-500">

        <div class="photo-flex-container mt-4">
            <div *ngFor="let photo of photos" class="photo-container">
                <img [src]="createImagePreview(photo)" alt="Foto del producto">
                <button type="button" (click)="removePhoto(photo)" [disabled]="usuario.estado === 'Para Verificar'">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M6 18L18 6M6 6l12 12" />
                    </svg>
                </button>
            </div>
        </div>
    </div>

    <button type="submit" [disabled]="usuario.estado === 'Para Verificar'"
        class="w-full bg-indigo-600 text-white py-2 rounded-md shadow-sm hover:bg-indigo-700 transition duration-200">Publicar
        Producto</button>
</form>