<app-navbar></app-navbar>

<section class="bg-white dark:bg-gray-900 mt-10">
    <div class="py-8 px-4 mx-auto max-w-screen-lg lg:py-16">
        <div
            class="bg-gray-50 dark:bg-gray-800 border border-gray-200 dark:border-gray-700 rounded-lg p-8 md:p-12 mb-8">
            <h1 class="text-gray-900 dark:text-white text-4xl font-extrabold mb-4">Política de Privacidad</h1>
            <p class="text-lg font-normal text-gray-500 dark:text-gray-400 mb-6">
                En Arriba el Campo, respetamos tu privacidad y estamos comprometidos a proteger la información
                personal que compartes con nosotros. Esta Política de Privacidad describe cómo recopilamos, usamos y
                protegemos tus datos personales cuando visitas nuestro sitio web y haces uso de nuestros servicios.
            </p>

            <h2 class="text-2xl font-bold text-gray-900 dark:text-white mb-4">1. Información que recopilamos</h2>
            <p class="text-lg font-normal text-gray-500 dark:text-gray-400 mb-4">
                Recopilamos varios tipos de información personal para brindarte un servicio adecuado. Entre estos datos
                se incluyen:
            </p>
            <ul class="list-disc pl-6 text-gray-500 dark:text-gray-400 mb-6">
                <li><b>Información de contacto: </b>Nombre, dirección de correo electrónico, número de teléfono, dirección
                    física.</li>
                <li><b>Datos de pago: </b>Información de tarjeta de crédito o débito, métodos de pago alternativos, y
                    detalles de transacciones.</li>
                <li><b>Datos de navegación: </b>Cookies y datos de seguimiento que permiten mejorar tu experiencia en
                    nuestro sitio web.</li>
                <li><b>Información de cuenta:</b>Nombre de usuario, contraseña, historial de compras, preferencias de
                    productos.</li>
            </ul>

            <h2 class="text-2xl font-bold text-gray-900 dark:text-white mb-4">2. Uso de tu información personal</h2>
            <p class="text-lg font-normal text-gray-500 dark:text-gray-400 mb-4">
                Utilizamos la información que recopilamos con varios fines:
            </p>
            <ul class="list-disc pl-6 text-gray-500 dark:text-gray-400 mb-6">
                <li><b>Procesamiento de pedidos: </b> Para gestionar tus compras, procesar pagos y realizar envíos.</li>
                <li><b>Comunicación: </b> Para enviarte confirmaciones de pedidos, notificaciones de envío y actualizaciones
                    importantes.</li>
                <li><b>Personalización: </b> Para personalizar tu experiencia en nuestro sitio web, ofreciéndote
                    recomendaciones basadas en tus preferencias.</li>
                <li><b>Mejora de servicios: </b> Para analizar patrones de uso y mejorar nuestros productos y servicios.
                </li>
                <li><b>Cumplimiento legal: </b> Para cumplir con nuestras obligaciones legales y reguladoras.</li>
            </ul>

            <h2 class="text-2xl font-bold text-gray-900 dark:text-white mb-4">3. Protección de tu información</h2>
            <p class="text-lg font-normal text-gray-500 dark:text-gray-400 mb-4">
                Implementamos medidas de seguridad técnicas y organizativas para proteger tu información personal contra
                el acceso no autorizado, la alteración, la divulgación o la destrucción. Estas medidas incluyen el uso
                de cifrado en las transacciones de pago y en la transferencia de información sensible.
            </p>

            <h2 class="text-2xl font-bold text-gray-900 dark:text-white mb-4">4. Compartir tu información con terceros
            </h2>
            <p class="text-lg font-normal text-gray-500 dark:text-gray-400 mb-4">
                No vendemos ni alquilamos tu información personal a terceros. Sin embargo, podemos compartirla en las
                siguientes circunstancias:
            </p>
            <ul class="list-disc pl-6 text-gray-500 dark:text-gray-400 mb-6">
                <li><b>Proveedores de servicios: </b> Con terceros que nos ayudan a procesar pagos, realizar envíos, y
                    brindar soporte al cliente.</li>
                <li><b>Cumplimiento de la ley: </b> Cuando sea necesario para cumplir con nuestras obligaciones legales,
                    como en respuesta a citaciones o procesos legales.</li>
                <li><b>Fusiones o adquisiciones: </b> En caso de que nuestra empresa se fusione con otra o sea adquirida, tu
                    información podría transferirse a los nuevos propietarios.</li>
            </ul>

            <h2 class="text-2xl font-bold text-gray-900 dark:text-white mb-4">5. Uso de cookies y tecnologías similares
            </h2>
            <p class="text-lg font-normal text-gray-500 dark:text-gray-400 mb-4">
                Utilizamos cookies y tecnologías similares para mejorar la experiencia del usuario y analizar el tráfico
                en nuestro sitio web. Estas tecnologías nos ayudan a recordar tus preferencias y personalizar el
                contenido que ves. Puedes ajustar la configuración de cookies en tu navegador en cualquier momento.
            </p>

            <h2 class="text-2xl font-bold text-gray-900 dark:text-white mb-4">6. Retención de tu información</h2>
            <p class="text-lg font-normal text-gray-500 dark:text-gray-400 mb-4">
                Conservamos tu información personal solo durante el tiempo que sea necesario para cumplir con los fines
                para los que fue recopilada, incluido el cumplimiento de requisitos legales, contables o de informes.
            </p>

            <h2 class="text-2xl font-bold text-gray-900 dark:text-white mb-4">7. Tus derechos</h2>
            <p class="text-lg font-normal text-gray-500 dark:text-gray-400 mb-4">
                Tienes ciertos derechos en relación con tu información personal, incluidos los siguientes:
            </p>
            <ul class="list-disc pl-6 text-gray-500 dark:text-gray-400 mb-6">
                <li><b>Acceso: </b> Tienes derecho a solicitar acceso a la información personal que almacenamos sobre ti.
                </li>
                <li><b>Corrección: </b> Puedes solicitar la corrección de cualquier información inexacta o incompleta.</li>
                <li><b>Eliminación: </b> Puedes solicitar que eliminemos tus datos personales, siempre que no estemos
                    obligados a conservarlos por motivos legales.</li>
                <li><b>Restricción de procesamiento: </b> Puedes solicitar que limitemos el uso de tus datos personales en
                    ciertas circunstancias.</li>
            </ul>

            <h2 class="text-2xl font-bold text-gray-900 dark:text-white mb-4">8. Cambios a esta Política de Privacidad
            </h2>
            <p class="text-lg font-normal text-gray-500 dark:text-gray-400 mb-6">
                Nos reservamos el derecho de modificar esta Política de Privacidad en cualquier momento. Las
                actualizaciones serán publicadas en esta página y te notificaremos si realizamos cambios importantes que
                afecten tus derechos.
            </p>

            <h2 class="text-2xl font-bold text-gray-900 dark:text-white mb-4">9. Contacto</h2>
            <p class="text-lg font-normal text-gray-500 dark:text-gray-400 mb-6">
                Si tienes alguna pregunta sobre nuestra Política de Privacidad o sobre cómo manejamos tus datos
                personales, no dudes en contactarnos a no.reply.arribaelcampo&#64;gmail.com o a través de nuestro número de
                atención al cliente +57 323 4855403.
            </p>
        </div>
    </div>
</section>

<app-footer></app-footer>
