<div class="container mx-auto mt-10 max-w-md">
    <h2 class="text-2xl font-semibold text-gray-800 mb-4 text-center">Restablecer Contraseña</h2>
    <form (ngSubmit)="onSubmit()" class="bg-white shadow-md rounded-lg p-6 space-y-4">
        <div>
            <label for="newPassword" class="block text-sm font-medium text-gray-700">
                Nueva Contraseña
            </label>
            <input type="password" id="newPassword" [(ngModel)]="newPassword" name="newPassword" required minlength="6"
                class="w-full p-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500"
                placeholder="Ingrese su nueva contraseña" />
        </div>

        <button type="submit"
            class="w-full bg-blue-600 text-white py-2 rounded-md shadow-sm hover:bg-blue-700 transition duration-200 focus:outline-none focus:ring-4 focus:ring-blue-300">
            Restablecer Contraseña
        </button>
    </form>
</div>