<app-navbar></app-navbar>

<div *ngIf="pedidos.length === 0" class="flex justify-center items-center h-screen">
    <div class="text-gray-600 text-xl">Cargando pedidos...</div>
</div>

<div *ngIf="pedidos.length > 0" class="container mx-auto px-4 py-8">
    <h2 class="text-2xl font-semibold text-gray-800 mb-6">Pedidos Pendientes del Vendedor</h2>
    <div *ngIf="pedidos.length === 0" class="bg-yellow-100 text-yellow-800 p-4 rounded-md">
        <p>No tienes pedidos pendientes.</p>
    </div>

    <div class="space-y-4">
        <div *ngFor="let pedido of pedidos" class="bg-white shadow-lg rounded-lg p-6">
            <h3 class="text-xl font-medium text-gray-700 mb-2">Pedido ID: {{ pedido.pedidoId }}</h3>
            <div class="flex justify-between items-center mb-4">
                <p class="text-gray-600">Fecha Creación: {{ pedido.fechaCreacion | date: 'dd/MM/yyyy' }}</p>
                <p class="text-gray-600">Estado General:
                    <span [ngClass]="getEstadoColor(pedido.estadoGeneral)" class="font-semibold capitalize">
                        {{ pedido.estadoGeneral }}
                    </span>
                </p>
            </div>

            <h4 class="text-lg font-semibold text-gray-800 mt-4">Productos del Pedido:</h4>
            <ul class="divide-y divide-gray-200">
                <li *ngFor="let producto of pedido.productos" class="py-4">
                    <div class="flex justify-between items-center">
                        <div>
                            <p class="text-gray-800 font-medium">{{ producto.productoId.titulo }}</p>
                            <p class="text-gray-600">Cantidad: {{ producto.cantidad }}</p>
                        </div>
                        <div class="text-right">
                            <label class="block mb-1 text-sm">Estado Actual:</label>
                            <p class="text-gray-600 capitalize">{{ producto.estado }}</p>
                            <button *ngIf="producto.estado === 'Creado'"
                                (click)="cambiarEstadoProducto(pedido.pedidoId, producto.productoId._id, 'Camino a la empresa transportadora')"
                                class="mt-2 bg-blue-500 hover:bg-blue-600 text-white font-medium py-2 px-4 rounded-lg text-sm">
                                Marcar En Camino
                            </button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<app-footer></app-footer>